#headline{
    font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 46px;
    font-weight: 600;    
    }
    #red{
        color: red;
    }
    #contentP{
        color: rgb(6 6 6 / 60%);
        font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        line-height: 24px;
    }
    #twoBtn{
        display: flex;
margin-top: calc(clamp(40px, 3.88889vw, 56px) - clamp(8px, 0.55vw, 8px));
flex-wrap: wrap;
/* display: none; */
margin-top: 50px;
-webkit-box-pack: center;
justify-content: center;
margin-right: 20px;
    }
    #twoBtn>button:first-child,#cardbtn1{
        cursor: pointer;
        outline: none;
       border: 1px solid blue;
       color: blue;
       text-align: center;
       background-color: white;
       font-size: 16px;
line-height: 100%;
font-weight: 500;
transition: all 0.05s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
min-height: 40px;
padding: 0px clamp(8px, 1.11111vw, 16px);
display: flex;
-webkit-box-align: center;
align-items: center;
border-radius: 4px;
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
margin-right: clamp(8px, 0.55vw, 8px);       
}
#twoBtn>button:first-child:hover{
    border: 2px solid blue;
}
#cardbtn1:hover{
    border: 2px solid blue;
}
    #twoBtn>button:last-child,#cardbtn2{
display: flex;
-webkit-box-align: center;
align-items: center;
min-height: 40px;
padding: 0px clamp(8px, 1.11111vw, 16px);
background-color: blue;
border: 1px solid blue;
border-radius: 4px;
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
line-height: 100%;
font-weight: 500;
color: white;
text-align: center;
transition: all 0.05s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    }
    #twoBtn>button:last-child:hover{
    background-color: #2c4eca;
    }
    #cardbtn2:hover{
        background-color: #2c4eca;
        }
#sliderSec{
    margin-top: 78px;
}
    #sliderHeadline{
        font-family: Ambit, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        text-align: center;
        font-size: clamp(24px, 2.22222vw, 32px);
        line-height: 120%;
        font-weight: 600;
    }
    #cardsBottmText{
        text-align: center;
        margin-top: clamp(8px, 0.55vw, 8px);
        color: rgb(0 0 0 / 60%);
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: clamp(14px, 1.11111vw, 16px);
        line-height: 150%;
    }
    #observe1{
        align-self: center;
    }
    #obsH{
        font-size: clamp(28px, 2.77778vw, 40px);
line-height: 120%;
font-weight: 600;
margin-bottom: clamp(40px, 3.88889vw, 56px);


    }
    #packageSec{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 71px;
    }
  #obserev{
    background-color: #f9f5ca;
  }
  #ask{
    background-color: #ccc2eb;
  }
  #dark{
    font-weight: bold;
  }
  #pCard{
width: 100%;
background-color:white;
border: #e4e4e4;
border-radius: 8px;
min-width: 390px;
padding: clamp(8px, 1.11111vw, 16px);
box-shadow: rgb(26 30 52 / 6%) 0px 2px 4px -1px, rgb(26 30 52 / 10%) 0px 4px 6px -1px;
border: 1px solid #e4e4e4;
text-align: center;
  }
  #toptext{
    text-transform: uppercase;
margin-right: clamp(8px, 0.55vw, 8px);
color: rgb(8 8 8 / 60%);
font-weight: 500;
  }
  .colorBlue{
    color: #14775f;
font-family: Roboto;
font-size: clamp(17px, 1.11111vw, 16px);
line-height: 150%;

  }
  #priceBG{
    display: flex;
width: 100%;
height: 54px;
font-weight: 600;

border-radius: clamp(8px, 0.55vw, 8px);
margin-bottom: clamp(8px, 0.55vw, 8px);
background-color: #f6f6f7;
-webkit-box-pack: center;
justify-content: center;
font-size: clamp(18px, 1.38889vw, 20px);
line-height: 120%;
  }
  #f1{
    padding-top: clamp(16px, 1.66667vw, 24px);
text-decoration-line: line-through;
margin-right: clamp(8px, 0.55vw, 8px);
color: #14775f;

  }
  #f2{
    font-size: clamp(24px, 2.22222vw, 32px);
line-height: 140%;
display: inline-flex;
-webkit-box-align: center;
align-items: center;
color: #14775f;
  }
  #f3{
    padding-top: clamp(16px, 1.66667vw, 24px);
color: var(--black89);
margin-right: 4px;
  }
#cardsBtn{
display: flex;
justify-content: center;
  }
  #cardsBottmText{
    text-align: center;
    margin-top: clamp(8px, 0.55vw, 8px);
    color: rgb(0 0 0 / 60%);
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: clamp(14px, 1.11111vw, 16px);
    line-height: 150%;
    margin-bottom:2px;
}

marquee > img {
  margin-left: 60px;
}
#div4 {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
#div4 > div {
  display: flex;
  font-size: 20px;
  color: gray;
  margin-top: 20px;
}
#div4 > div > img {
  width: 25px;
  height: 25px;
  margin-top: 20px;
}
#div4 > div:nth-child(1) {
  margin-left: 250px;
}

#btn-two{
  display: flex;
-webkit-box-align: center;
align-items: center;
padding: 4px;
border-radius: 6px;
background-color: #f1f2f6;
color:black;
width: 35%;
}
#btn1
{
  padding: clamp(8px, 0.55vw, 8px) clamp(8px, 1.11111vw, 16px);
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: clamp(14px, 1.11111vw, 16px);
line-height: 150%;
color:black;

border: none;
}
.boxs{
  background-color: white;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: rgb(26 30 52 / 10%) 0px 1px 3px, rgb(26 30 52 / 6%) 0px 1px 2px;
}
#btn2{
  color: black;
padding: clamp(8px, 0.55vw, 8px) clamp(8px, 1.11111vw, 16px);
border-radius: 4px;
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: clamp(14px, 1.11111vw, 16px);
line-height: 150%;
border: none;
}

/* progress Bar Css */
#ocTop{
  display: flex;
  align-items: flex-start;
margin-top: 51px;
flex-wrap: wrap;
}
.fa-eye-1{
width: 42px;
font-size: 42px;
margin-right: 10px;
}
#ocTop>div:first-child>span{
font-size: 30px;
font-weight: 600;
}
#ocTop>div:first-child{
margin-left: 55px;
}
#ocTop>div:last-child{
margin-left: 35px;
}

#ocTop>div:first-child>a{
text-decoration: none;
margin-left: clamp(8px, 0.55vw, 8px);
font-size: 17px;
line-height: 24px;
}
#ocTop>div:first-child>p{
font-size: 17px;
}
#ocTop>div:first-child>p>a{
color: black;
}
#ocTop>div:first-child>p>a:hover{
color: blue;
}
#ocTop>div:last-child>p{
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: clamp(14px, 1.11111vw, 16px);
line-height: 150%;
font-weight: 500;
text-align: center;
}
.values{
word-spacing: 20px;
margin-top:10px;
}
#ocCards
{
display: flex;
column-gap: clamp(8px, 1.11111vw, 16px);
margin-top: clamp(40px, 3.88889vw, 56px);
flex-wrap: wrap;
}
#card{
width: 25%;
position: relative;
background-color: white;
border-radius: 8px;
flex: 1 1 0%;
border: 1px solid #a6a8b3;
margin: 1px;
cursor: pointer;
padding: 14px;
flex-wrap: wrap;
}
#card>div:first-child{
display: flex;
justify-content: space-around;
}
#big{
font-weight: bold;
}
#obsrveCard{
background: linear-gradient(283.25deg, rgb(255, 0, 0) -133.75%, rgb(255, 224, 94) -12.01%, rgb(253, 241, 222) 54.64%);
padding: 10px 7px 10px 7px;
margin-bottom: clamp(24px, 2.77778vw, 40px);
border-radius: clamp(8px, 0.55vw, 8px);
margin-top: 36px;

}
#obsrveSugge{
background: radial-gradient(50% 50% at 90% 70%, rgba(156, 137, 212, 0.9) 0%, rgb(247, 246, 252) 100%) rgb(247, 246, 252);
padding: 10px 7px 10px 7px;
margin-bottom: clamp(24px, 2.77778vw, 40px);
border-radius: clamp(8px, 0.55vw, 8px);
margin-top: 36px;

}
#cardR{
position: relative;
background-color: white;
border-radius: 8px;
flex: 1 1 0%;
border: 2px solid #4d5167;
margin: 0px;
cursor: pointer;
box-shadow: rgb(26 30 52 / 10%) 0px 10px 15px -3px, rgb(26 30 52 / 5%) 0px 4px 6px -2px;
padding: 14px;
flex-wrap: wrap;
}
#recommend{
font-size: clamp(12px, 0.972222vw, 14px);
line-height: 100%;
text-transform: uppercase;
background-color: #202641;
color: white;
padding: clamp(8px, 0.55vw, 8px);
border-radius: 16px;
position: absolute;
left: 17px;
top: -16px;
}
#cardtop{
display: flex;
/* gap: 50px; */
justify-content: space-around;
}
#imgAsk{
height: 42px;
width: 42px;
margin-right: 12px;

}
#wInclude>div>h1{
  text-align: center;
 font-size: clamp(28px, 2.77778vw, 40px);
 }
 #wInclude>div>p{
  margin-top: clamp(8px, 0.55vw, 8px);
font-size: clamp(16px, 1.25vw, 18px);
line-height: 140%;
color: rgb(12 12 12 / 60%);
text-align: center;
margin-top: -28px;
 }
 #eSec{
  grid-column: 1 / -1;
display: flex;
padding: clamp(16px, 1.66667vw, 24px);
background-color: #f7f5df;
color: rgb(12 12 12 / 89%);
width: 86%;
margin: auto;
justify-content: space-between;
text-align: center;
flex-wrap: wrap;
}
#eSecBottom{
grid-column: 1 / -1;
display: flex;
padding: clamp(16px, 1.66667vw, 24px);
/* background-color: #f7f5df; */
padding: clamp(10px, 1.66667vw, 10px);
width: 86%;
margin: auto;
justify-content: space-between;
text-align: center;
flex-wrap: wrap;
align-items: center;
border-bottom: 1px solid black;
}
#eSecBottom:hover{
background-color: #e4dff3;
}
#eyeWala{
display: flex;
gap: 10px;
}
#eyeWala>div:last-child>h1{
font-size: 34px;
margin-top: -5px;
margin-bottom: -7px;
}
#eyeS{
content: "\f06e";
font-size: 34px;
position: relative;
top: -3px;

}
#eSec>div>p{
font-size: clamp(12px, 0.972222vw, 14px);
line-height: 100%;
text-transform: uppercase;
font-weight: 600;
font-weight: 600;
color: rgb(10 10 10 / 60%);
margin-bottom: clamp(8px, 0.55vw, 8px);
}
#eSec>div>sup{
font-weight: bold;
font-size: 17px;
}
#eSec>div>strong{
font-weight: bold;
font-size: 25px;
}
#eSec>div>span{
font-weight: bold;
font-size: 16px;
}
#eSec>div:first-child{
border-right: 1px solid #d3bdbd;
padding: 17px;
}
#eSec>div:nth-child(2){
border-right: 1px solid #d3bdbd;
padding: 17px;
}
#eSec>div:nth-child(3){
border-right: 1px solid #d3bdbd;
padding: 17px;
}
#eSec>div:nth-child(4){
border-right: 1px solid #d3bdbd;
padding: 17px;
}
/* hr{
width: 86%;
margin-top: -22px;
margin-bottom: -1px;
} */

#hovContainer{
  width: 86%;
  display: flex;
  flex-wrap: wrap;
 background: linear-gradient(45deg,#ffece6,#e1ab9a);
 margin: auto;
 padding: clamp(24px, 2.77778vw, 40px) 0px;
 justify-content: space-evenly;
 margin-top: 20px;
}
#btn-find{
  cursor: pointer;
outline: none;
border: 1px solid blue;
color: blue;
text-align: center;
background-color: #ffffff00;
font-size: 16px;
line-height: 100%;
font-weight: 500;
transition: all 0.05s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
min-height: 40px;
padding: 0px clamp(8px, 1.11111vw, 16px);
display: flex;
-webkit-box-align: center;
align-items: center;
border-radius: 4px;
font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
margin-right: clamp(8px, 0.55vw, 8px);
}
#hovContainer>div>img{
  width: 100%;
height: 300px;
}
#hovContainer>div>h2{
  font-size:clamp(28px, 2.77778vw, 40px)
}